::-webkit-scrollbar {
    width: .6vw;
    background-color: rgb(30, 162, 216, .5);
}
::-webkit-scrollbar-thumb {
    background: rgb(31, 50, 65);

    cursor: grab;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    font-family: Times New Roman;
    /* overflow: hidden; */
    overflow-y: hidden;
    overflow-x: hidden;
}
#particle-canvas {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .45;
    transform: scale(1);
  }
#first-plate {
    position: relative;
    z-index: 4;
    width: 100%;
    height: calc(100vh - .6vw);
    background-color: transparent;
    border-bottom: .7vw solid rgb(31, 50, 65) !important;
}
#nav-bar {
    width: 100%;
    height: 4vw;
    position: fixed;
    z-index: 3;
    background-color: rgb(30, 162, 216, .5);
}
#fullscreen {
    color: rgb(31, 50, 65);
    font-size: 3vw;
    cursor: pointer;
    /* transition: all .5s ease-in-out; */
    margin: auto;
    margin-top: .5vw;
    margin-left: 1.59vw;
}
/* #fullscreen:hover {
    transition: all 0s ease;
    transform: scale(1.2) rotate(360deg);
} */
#exit {
    color: rgb(31, 50, 65);
    font-size: 3vw;
    cursor: pointer;
    display: none;
    /* transition: all .5s ease-in-out; */
    margin: auto;
    margin-top: .5vw;
    margin-left: 1.59vw;
}
#fullExitBox {
    width: 5%;
    height: 100%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#navBar {
    width: 75%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#navBar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
#navBar ul li {
    font-size: 2vw;
    display: inline;
    text-decoration: none;
}
#navBar ul li a {
    padding: .25vw .5vw .25vw .5vw;
    color: rgb(32, 50, 66);
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
}
/* #navBar ul li a:hover {
    color: rgb(30, 162, 216, .5);
    transition: all .2s ease;
} */
.clear-fix {
    clear: both;
}
#first-plate-left {
    width: 20%;
    height: calc(100% + 1%);
    position: absolute;
    z-index: 3;
    background-color: #203242;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#logoBox {
    width: 100%;
    height: 4vw;
    line-height: 1vw;

    /* background-color: red; */
}
#logo {
    font-size: 2.1vw;
    color: rgb(30, 162, 216);
    /* text-shadow: .2vw .3vw .2vw rgb(30, 162, 216, .5); */
    text-align: center;
    /* cursor: pointer; */
    font-family: 'Droid Arabic Kufi', sans-serif;

    /* background-color: red; */
}
#logoBox02 {
    width: 100%;
    height: 20%;
    line-height: 1vw;
}
#logo02 {
    font-size: 2.1vw;
    color: #203242;
    /* text-shadow: .2vw .3vw .2vw rgb(32, 50, 66, .5); */
    text-align: left;
    margin-left: 1.5vw;
    /* cursor: pointer; */
    font-family: 'Droid Arabic Kufi', sans-serif;
}
#personal-img-container {
    width: 100%;
    height: 50%;
    position: relative;
    left: 8.8vw;
}
#personal-img-child-container {
    width:  17vw;
    height: 17vw;
    padding: .33vw;
    border-radius: 50%;
    float: right;
    background-color: rgb(255, 255, 255);
}
#personal-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: url(images/me0101.png);
    background-color: rgb(242, 239, 239);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 82.5%;
}
#logoBox01 {
    width: 20%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow: hidden;
}
#logo01 {
    /* transform: translateY(-100%); */
    font-size: 2.1vw;
    color: rgb(30, 162, 216);
    text-align: center;
    cursor: pointer;
    font-family: 'Droid Arabic Kufi', sans-serif;
}
#first-plate-right {
    position: relative;
    z-index: 2;
    width: 80%;
    height: 100%;
    float: right;
    background-color: transparent;
}
#first-plate-right-min-container {
    width: 75%;
    height: 100%;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    float: left;
}
#media {
    width: 10%;
    height: 100%;
    background-color: transparent;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#socialMedia {
    position: fixed;
    right: -4vw;
}
  #navIconsFirst {
    padding: .05vw .3vw .05vw .3vw !important;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background:rgb(30, 162, 216, .5);
    border-top-left-radius: .4vw !important;
    border-bottom-left-radius: .4vw !important;  }
  .firstIcons {
    list-style: none;
  }
    .firstIcons i {
      font-size: 3.8vw;
      color: rgb(32, 50, 66);
      transition: all 0.2s ease-in-out;
    }
#name-title-container {
    font-size: 2vw;
    font-weight: 700;
    color: rgb(32, 50, 66);
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: transparent;
    overflow: hidden;
    font-family: Times New Roman;
    visibility: hidden;
}
.line-1 {
    white-space: nowrap;
    overflow: hidden;
}
.anim-typewriter {
    animation: typewriter 2s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
.anim-typewriter01 {
    animation: typewriter01 1.5s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
.anim-typewriter02 {
    animation: typewriter02 1.5s steps(44) 2.5s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
.anim-typewriter03 {
    animation: typewriter03 .5s steps(44) .5s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal; 
}
.anim-typewriter04 {
    animation: typewriter04 .5s steps(44) .5s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal; 
}
@keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 30em;
    }
  }
@keyframes typewriter01 {
  from {
    width: 0;
  }
  to {
    width: 25.6em;
  }
}
  @keyframes typewriter02 {
    from {
      width: 0;
    }
    to {
      width: 26em;
    }
  }
  @keyframes typewriter03 {
    from {
      width: 0;
    }
    to {
      width: 16.5em;
    }
  }
  @keyframes typewriter04 {
    from {
      width: 0;
    }
    to {
      width: 11.3em;
    }
  }
  @keyframes blinkTextCursor {
    from {
      border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
      border-right-color: transparent;
    }
  }
#text-container {
    color: #203242;
    font-size: 1.6vw;
    width: 100%;
    height: 35%;
    background-color: transparent;
}
#inTouch {
    color: #1ea2d8;
    text-decoration: underline;
    cursor: pointer;
}
#inTouch02, #inTouch03, #inTouch04 {
    color: rgb(30, 162, 216);
    cursor: pointer;
    text-decoration: underline;
}
#arrow-down {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#intro-arrow {
    width: fit-content;
    height: fit-content;
    margin: auto;
    position: relative;
    text-decoration: none;
    cursor: pointer;
  }
  #intro-arrow #arrow {
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    border: .15vw solid #203242;
    /* transition: all 1.5s ease; */
    z-index: 20;
  }
  /* #intro-arrow:hover > #arrow {
    border: .15vw solid rgb(30, 162, 216) !important;
    transform: rotateX(-720deg) !important;
  } */
  #intro-arrow #arrow-down1 #down1 {
    font-size: 2.3vw;
    padding-top: 20%;
  }
  /* #intro-arrow:hover > #arrow-down1 {
    color: rgb(30, 162, 216) !important;
    transform: translateY(.8vw) !important;
  } */
  #intro-arrow #arrow-down1 {
    color: rgb(32, 50, 66);
    position: absolute;
    top: 15%;
    left: 23%;
    width: fit-content;
    height: fit-content;
    transition: all 1.5s ease;
  }
.arr-anim {
    animation: arrAnim .5s ease-in-out 2.5s 6 alternate;
}
.arrow-anim {
    animation: arrowAnim .5s ease-in-out 2.5s 6 alternate;
}
.enter-anim {
    animation: enterAnim .5s ease-in-out infinite alternate;
}
@keyframes arrAnim{
    from {
        border: .15vw solid #203242;
    }
    to {
        border: .15vw solid #1ea2d8;
    }
}
@keyframes enterAnim {
    from {
        color: rgb(30, 162, 216, .5);
    }
    to {
        color: rgb(30, 162, 216);
    }
}
@keyframes arrowAnim{
    from {
        color: #203242;
        transform: translateY(0vw)
    }
    to {
        color: rgb(30, 162, 216);
        transform: translateY(.8vw)
    }
}
::selection {
    /* color: rgb(30, 162, 216, .8); */
    background-color: transparent;
}
#titles {
    color: rgb(30, 162, 216);
    font-size: 2.3vw;
    font-weight: 700;
    text-align: center;
    margin-top: 5.2vw;
    font-family: Times New Roman;
}
#titles-about {
    color: rgb(30, 162, 216);
    font-size: 2.3vw;
    text-align: center;
    margin-top: 5.2vw;
    font-family: Times New Roman;
}
#second-plate {
    position: sticky;
    z-index: 3;
    background: transparent;
    width: 100%;
    height: calc(100vh - .6vw);
    border-bottom: .7vw solid #1f3241 !important;
}
#second-plate-left {
    float: left;
    width: 40%;
    height: calc(100vh);
    border-top: .7vw solid #1f3241 !important;
    /* border-right: .7vw solid #ffffff !important;
    border-left: .7vw solid #1f3241 !important; */
    /* background-color: red; */

    background-image: linear-gradient(to left, rgb(31, 50, 65) 100%, rgb(240, 240, 240));

    box-sizing: border-box;

    display: none;
}
#second-plate-right {
    width: 100%;

    /* border-radius: 10vw; */
    height: calc(100vh - 1.2vw);
    border-top: .7vw solid #1f3241 !important;
    /* border-right: .7vw solid #1f3241 !important; */
    background-color: #1f3241;
}
#pro-lang {
    width: 80%;
    height: 25vw;
    margin-top: 2.5vw;
    margin-left: 10%;
    /* border: .1vw solid rgb(30, 162, 216, .4); */
    border-radius: .4vw;
    background-color: rgb(30, 162, 216, .2);
}
#pro-lang-container01 {
    float: left;
    width: 50%;
    /* background-color: black; */
}
#pro-lang-container02 {
    float: right;
    width: 50%;
    /* background-color: gray; */
}
#pro-lang-container {
    width: 90%;
    height: 4vw;
    margin: auto;
    margin-top: 4vw;
    /* background-color: blue; */
}
#pro-lang-container-left {
    width: 90%;
    height: 4vw;
    margin: auto;
    margin-top: 1vw;
}
#programming-skills {
    color: rgb(30, 162, 216);
    font-size: 1.8vw;
    margin-left: .5vw;
    font-family: Times New Roman;
}
#pro-lang-parent {
    width: 100%;
    height: 90%;
    border-radius: .4vw;
    background-color: rgb(30, 162, 216, .3);
}
#html-level {
    width: 0%;
    height: 100%;
    border-top-left-radius: .4vw;
    border-bottom-left-radius: .4vw;
    border-right: .2vw solid #1f3241;
    /* background-color: rgb(30, 162, 216); */
    background-image: linear-gradient(to right, transparent, rgb(30, 162, 216));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;

    overflow: hidden;

    border-left: .2vw solid rgb(30, 162, 216);
}
#css-level {
    width: 0%;
    height: 100%;
    border-top-left-radius: .4vw;
    border-bottom-left-radius: .4vw;
    border-right: .2vw solid #1f3241;
    /* background-color: rgb(30, 162, 216); */
    background-image: linear-gradient(to right, transparent, rgb(30, 162, 216));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;

    overflow: hidden;

    border-left: .2vw solid rgb(30, 162, 216);
}
#res-level, #java-level, #es6-level {
    width: 0%;
    height: 100%;
    border-top-left-radius: .4vw;
    border-bottom-left-radius: .4vw;
    border-right: .2vw solid #1f3241;
    /* background-color: rgb(30, 162, 216); */
    background-image: linear-gradient(to right, transparent, rgb(30, 162, 216));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;

    overflow: hidden;

    border-left: .2vw solid rgb(30, 162, 216);
}
#git-level {
    width: 0%;
    height: 100%;
    border-top-left-radius: .4vw;
    border-bottom-left-radius: .4vw;
    border-right: .2vw solid #1f3241;
    /* background-color: rgb(30, 162, 216); */
    background-image: linear-gradient(to right, transparent, rgb(30, 162, 216));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;

    overflow: hidden;

    border-left: .2vw solid rgb(30, 162, 216);
}
.levels {
    color: #1f3241;
    font-size: 1.8vw;
    font-weight: 900;
    float: right !important;
    margin-right: .5vw;
    font-family: Times New Roman;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.levels, #re-level {
    transform: translateY(-150%);
}
#react-main-container {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: red; */
}
#react-container {
    width: 70%;
    height: 5vw;
    margin-left: 15%;
    /* background-color: yellow; */
}
#re-pro-skill {
    color: rgb(30, 162, 216);
    font-size: 2.5vw;
    margin-left: .5vw;
    font-family: Times New Roman;
}
#pro-lang-react {
    width: 100%;
    height: 90%;
    border-radius: .4vw;
    border-left: .2vw solid rgb(30, 162, 216);
    background-color: rgb(30, 162, 216, .3);
}
#react-level {
    width: 0%;
    height: 100%;
    border-top-left-radius: .4vw;
    border-bottom-left-radius: .4vw;
    border-right: .2vw solid #1f3241;
    /* background-color: rgb(30, 162, 216); */
    background-image: linear-gradient(to right, transparent, rgb(30, 162, 216));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
#re-level {
    color: #1f3241;
    font-size: 2.5vw;
    font-weight: 900;
    margin-right: .5vw;
    font-family: Times New Roman;
}



#about-title {
    width: 90%;
    font-size: 3vw;
    color: #203242;
    margin-top: 4.5vw;
    margin-left: 5%;
    font-family: Times New Roman;
}
#about-container {
    width: calc(90% - 3vw);
    height: calc(72vh - 3vw);
    color: #203242;
    font-size: 1.3vw;
    font-weight: 700;
    line-height: 3.97vh;
    margin-left: 10%;
    padding: 1.5vw 1.5vw 1.5vw 1.5vw;
    border-radius: .4vw;
    background-color: #1ea2d8;
    /* box-shadow: -.2vw -.2vw .2vw rgb(30, 162, 216, .3)inset; */
    transition: all .5s ease-in-out;
    font-family: Times New Roman;
}
/* #about-container span{
    color: rgb(30, 162, 216);
    font-weight: 900;
} */
#third-plate {
    position: sticky;
    z-index: 3;
    width: 100%;
    height: 100vh;
    background: transparent;
}
#third-plate-left {
    float: left;
    width: 65%;
    background: transparent;
    height: calc(100vh - .9vw);
    border-top: .4vw solid #1f3241 !important;
    border-bottom: .55vw solid #1f3241 !important;
}
#third-plate-right {
    float: right;
    width: 35%;
    height: 100vh;
    background-color: #1f3241;
}
#lang-title {
    color: #203242;
    font-size: 5vw;
    /* font-weight: 700; */
    text-align: center;
    margin-top: 4.5vw;
    font-family: Times New Roman;
}
#lang-container {
    width: 70%;
    margin-left: 12.5%;
    margin-top: 1vw;
    height: calc(100vh - 19vw);
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#english, #german, #arabic {
    width: 100%;
    height: 5vw;
    border-radius: .4vw;
    background-color: rgb(30, 162, 216, .3);
}
#lang-titles {
    font-size: 2vw;
    font-weight: 700;
    color:rgb(32, 50, 66);
    margin-top: 4vw;
    margin-left: .5vw;
}
#english-level, #german-level, #arabic-level {
    height: 100%;
    border-top-left-radius: .4vw;
    border-bottom-left-radius: .4vw;
    border-right: .2vw solid rgb(31, 50, 65);
    /* border-left: .2vw solid rgb(30, 162, 216); */
    background-image: linear-gradient(to right,rgb(31, 50, 65), transparent);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;

    overflow: hidden;
}
#english-level {
    width: 0%;
}
#german-level {
    width: 0%;
}
#arabic-level {
    width: 0%;
    border-top-right-radius: .4vw;
    border-bottom-right-radius: .4vw;
}
.lang-level {
    margin-right: .5vw;

    color: rgb(31, 50, 65);
    font-size: 2vw;
    font-weight: 700;

    transform: translateY(-150%);
}
#edu-container {
    float: left;
    width: 34%;
    height: 65vh;
    position: relative;
    top: .5vw;
    right: 5.5vw;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow: hidden;
}
#edu-names {
    float: right;
    width: 63%;
    height: calc(100% - 47vh);
    position: relative;
    /* top: 2vw; */
    right: 7.2vw;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
#dci-name {
    width: 100%;
    height: fit-content;
    margin-top: 4.5vw;
    /* background-color: green; */
}
#uni-name {
    width: 100%;
    height: fit-content;
    margin-top: 17.5vw;
    /* background-color: green; */
}
#dci-name p {
    color: #ffffff;
    font-size: 1.3vw;
    text-align: left;
    margin-left: .2vw;
    font-weight: 700;
    font-family: Times New Roman;
    display: inline;
}
#uni-name p {
    color: #ffffff;
    font-size: 1.3vw;
    text-align: left;
    margin-left: .2vw;
    font-weight: 700;
    font-family: Times New Roman;
    display: inline;
}
#edu-title {
    color: #ffffff;
    font-size: 5vw;
    font-weight: 700;
    text-align: center;
    margin-top: 5vw;

    font-family: Times New Roman;
}
#dci, #uni {
    width: 10.5vw;
    height: 10.5vw;
    border-radius: 50%;
    border: .35vw solid rgb(32, 50, 66);
    background-color: #ffffff;
    display: inline-block;

    transform: translateY(-300%);
}
#dci {
    background-image: url(images/dci-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}
#uni {
    background-image: url(images/auis-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}
#fourth-plate {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100vh;
    /* background-color: rgb(30, 162, 216); */
    /* background-image: linear-gradient( rgb(30, 162, 216) 0%, #ffffff 100%); */
}
#top-plate {
    width: 100%;
    height: calc(45% - .4vw);
    background-color: transparent;
}
#top-plate-header {
    width: 100%;
    height: 53%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* background-color: red; */
}
#top-plate-brands {
    width: 100%;
    height: 47%;
    /* background-color: blue; */
}
#top-plate-brans-inside {
    width: 75%;
    height: 100%;
    margin-left: 12.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: yellow; */
}
.brands {
    width: 10vw;
    height: 100%;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* background-color: green; */
}
/* #brand-two {
    position: relative;
    z-index: 99;
    cursor: default;
    border-top-left-radius: 25vw;
    border-bottom-left-radius: 25vw;
    background-color: skyblue;
} 
*/
#brand-one {
    position: relative;
    right: 4.4vw;
}
#brand-two {
    position: relative;
    left: 2.4vw;
}
/* #brand-three {
    position: relative;
    bottom: -10.35vw;
    left: 9.2vw;
    width: .3vw;
    height: 1vw;
    background-color: #1f3241;
} */
/* #brand-three span {
    position: relative;
    left: 9vw;
} */
.brands-name {
    font-size: 1.3vw;
    font-weight: 900;
    color: #1f3241;
    position: relative;
    left: 8.6vw;
    font-family: Times New Roman;
    display: none;

    /* background-color: red; */
}
.brand-extra {
    visibility: hidden;
}
.brands-writer {
    width: 10vw;
    height: 100%;
    /* background-color: salmon; */
}
#logos-box {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    bottom: 5.8vw;
    z-index: 2;
    /* background-color: orange; */

    overflow: hidden;
}
#first-logo, #second-logo, #third-logo {
    width: 10.5vw;
    height: 10.5vw;
    border-radius: 50%;
    border: .3vw solid rgb(31, 50, 65);
    /* background-color: gray; */
    /* visibility: hidden; */
}
#first-logo {
    background-color: #ffffff;
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    background-position: -500% center;
    background-size: 80%;
}
#second-logo {
    background-color: #ffffff;
    background-image: url(images/tobit.png);
    background-repeat: no-repeat;
    background-position: -500% center;
    background-size: 80%;
}
#third-logo {
    visibility: hidden;
}
#top-plate-header i {
    color: #1f3241;
    font-size: 6vw;
    /* transform: translateX(55vw) scale(0);
    transition: all 1s ease-in-out; */
}
#bottom-plate-main {
    width: 100%;
    height: 56%;
    /* background-color: rgb(30, 162, 216); */
    background-image: linear-gradient( rgb(30, 162, 216) 0%, #ffffff 100%);
}
#bottom-plate {
    width: 75%;
    height: 100%;
    margin-left: 12.5%;
    border-top: .3vw solid rgb(32, 50, 66);
    /* transition: all .5s ease-in-out; */
    /* background-color: transparent; */
    /* background-color: orangered; */
}
#positions-box {
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 12vw;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all .5s ease-in-out;
    /* background-color: royalblue; */
}
.positions {
    width: 20vw;
    height: 100%;
    /* background-color: saddlebrown; */
}
/* #position-two {
    margin-right: 9.6vw;
} */
#position-one-box {
    width: fit-content;
    height: fit-content;
    transform: translateY(1vw) translateX(11.5vw);

    overflow: hidden;

    /* background-color: springgreen; */
}
#position-two-box {
    width: fit-content;
    height: fit-content;
    transform: translateY(1vw) translateX(16vw);
    /* background-color: springgreen; */

    overflow: hidden;
}
#position-three-box {
    width: fit-content;
    height: fit-content;
    transform: rotate(90deg) translateY(-5.4vw) translateX(14vw);
    /* background-color: springgreen; */
    visibility: hidden;
}
#position-one-box, #position-two-box, #position-three-box span {
    font-size: 1.5vw;
    color: rgb(32, 50, 66);
    font-family: Times New Roman;
}
#end {
    width: .3vw;
    height: 1vw;
    position: relative;
    left: 47vw;
    bottom: 3vw;
    /* transition: all .5s ease-in-out; */
    background-color: rgb(32, 50, 66);
}
.first-span {
    font-size: 1.4vw !important;
    transform: translateX(-100%);
}
.second-span {
    font-weight: 700 !important;
    transform: translateX(-100%);
}
#fifth-plate {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 3;
    background-color: transparent;
}
#fifth-plate-left {
    float: left;
    width: 40%;
    height: 80vh;
    background-color: rgb(32, 50, 66);
}
#download-btns {
    width: 80%;
    height: 50%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* background-color: green; */

    overflow: hidden;
}
#download-cv, #download-certificate {
    width: 70%;
    height: 5vw;
    margin-left: 15%;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 6vw;

    border: .1vw solid #ffffff;
    background-color: rgb(255, 255, 255, .1);

    cursor: pointer;

    /* transition: all .5s ease-in-out; */
}
#download-cv {
    transform: translateX(-150%) translateY(1vw);
}
#download-certificate {
    width: 80%;
    margin-left: 10%;
    transform: translateX(150%) translateY(0vw);
}
#fifth-plate-left a {
    width: 100%;
    height: 100%;

    color: rgb(255, 255, 255);
    font-size: 1.8vw;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-decoration: none;
}
#fifth-plate-left a:hover {
    color: rgb(32, 50, 66);
}
#download-text {
    color: #ffffff;

    width: 90%;
    height: 50%;

    font-size: 1.6vw;
    font-weight: 700;

    margin-left: 5%;

    line-height:1.4;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    /* background-color: blue; */

    font-family: 'Times New Roman', Times, serif;
}
#fifth-plate-right {
    float: right;
    width: 60%;
    height: calc(80vh - .9vw);
    border-top: .5vw solid #1f3241 !important;
    border-bottom: .5vw solid #1f3241 !important;
    background-color:  transparent
}
#message-icon {
    color: #1f3241;

    width: 100%;
    height: 30%;

    font-size: 6vw;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    /* background-color: red; */
}
/* .fa-envelope {
    transform: translateY(-10vw) scale(0);
    margin-top: 1vw;
} */
#messanger {
    width: 100%;
    height: 65%;
    /* background-color: blue; */
}
#messanger-container {
    width: 60%;
    height: 92.4%;
    margin-left: 20%;
    margin-top: 3vw;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    /* background-color: rgb(0, 0, 255, .1); */
}
.form-active {
    background-color: rgb(30, 162, 216, .5);
}
#formContainer {
    overflow: hidden;
}
#name-email {
    width: 100%;
    /* background-color: green; */
}
#nameInput, #emailInput {
    color: #1f3241;
    font-size: 1.2vw;
    font-weight: 700;

    width: calc(50% - .1vw);
    height: 2.5vw;

    padding: .5vw;

    margin-bottom: .2vw;

    box-sizing: border-box;

    border: none;

    border-radius: .2vw;

    background-color: rgb(30, 162, 216, .2);

    outline: 0;
    font-family: Times New Roman;
}
#nameInput {
    float: left;
    transform: translateX(-100%);
}
#emailInput {
    float: right;
    transform: translateX(100%);
}
#subject {
    width: 99.7%;
    /* background-color: yellow; */
}
#subjectInput {
    color: #1f3241;
    font-size: 1.2vw;
    font-weight: 700;

    width: 97.3%;
    height: 2.7vw;

    padding-right: .5vw;
    padding-left: .5vw;

    border: none;
    border-radius: .2vw;

    margin-bottom: .2vw;

    outline: 0;

    font-family: Times New Roman;
    background-color: rgb(30, 162, 216, .2);

    transform: translateX(-100%);
}
#area {
    width:99.7%;
    height: 12vw;
    /* background-color: orange; */
}
#textareaInput {
    color: #1f3241;
    font-size: 1.2vw;
    font-weight: 700;

    width: 97.5%;
    height: 10.9vw;

    padding: .5vw;

    border: none;
    border-radius: .2vw;

    margin-top: .05vw;

    outline: 0;

    font-family: Times New Roman;
    background-color: rgb(30, 162, 216, .2);

    resize: none;

    transform: translatex(100%);
}
#submit {
    width: 100%;
    /* background-color: yellowgreen; */
}
#send, #reset {
    color: #ffffff;
    font-size: 1.6vw;
    font-weight: 700;

    height: 3vw;

    border: none;
    border-radius: .2vw;

    margin-top: .15vw;

    cursor: pointer;

    outline: 0;

    font-family: Times New Roman;
}
#send:hover {
    background-color: rgb(11, 218, 81);
}
#send:active {
    background-color: rgb(11, 218, 81, .7);
}
#reset:hover {
    background-color: rgb(255, 49, 49);;
}
#reset:active {
    background-color: rgb(255, 49, 49, .7);;
}
#send {
    width: calc(70% - .1vw);
    float: left;
    background-color: rgb(11, 218, 81, .7);
    transform: translateX(-100%);
}
#reset {
    width: calc(30% - .1vw);
    float: right;
    background-color: rgb(255, 49, 49, .7);
    transform: translateX(100%);
}

#footerBox {
    width: 100%;
    height: 20vh;

    /* display: flex;
    flex-direction: column;
    justify-content: flex-end; */

    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: #1ea2d8;
}

#footer-logo, #footer-copyright, #footer-empty {
    width: 33.3%;
    height: 100%;
}
#footer-copyright {
    /* background-color: blue; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#footer-copyright div {
    color: #1f3241;
    font-size: 1.3vw;
    transform: translateY(-.4vw);
    font-family:Times New Roman;
}
#footer-dci {
    width: 100%;
    height: 50%;
    background-image: url(images/dci-logo.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
    /* transform: scale(0); */
    transition: all .8s ease-in-out;
    display: inline-block;
}
#loader-main {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99;
    padding: 1.5vw;
    background-image: linear-gradient(to right, rgb(31, 50, 65, .8), rgb(240, 240, 240, .8));
    transition: all .5s ease-in-out;
}
#loader-box {
    width: calc(100% - 3vw);
    height: calc(100% - 3vw);
    /* background-color: #f0f0f0; */
    border-radius: .5vw;
}
#loader-logo-box {
    width: 100%;
    height: 5vw;
    /* background: black; */
}
#logo03 {
    font-size: 2.5vw;
    color: #203242;
    display: inline;
    text-shadow: .2vw .3vw .2vw rgb(32, 50, 66, .5);
    margin-left: 1.4vw;
    font-family: 'Droid Arabic Kufi', sans-serif;
}
#loader-loading-box {
    width: 5vw;
    height: 45vh;
    margin: auto;
    position: relative;
    /* background-color: red; */
}
#loader-loading-box span {
    display: block;
    position: absolute;
    bottom: 0;
    width: .8vw;
    height: 1vh;
    background-color: #1f3241;
    animation: waving 1.5s infinite ease-in-out;
}
#loader-loading-box span:nth-of-type(2) {
    left: 1vw;
    animation-delay: .2s;
}
#loader-loading-box span:nth-of-type(3) {
    left: 2vw;
    animation-delay: .6s;
}
#loader-loading-box span:nth-of-type(4) {
    left: 3vw;
    animation-delay: .8s;
}
#loader-loading-box span:last-of-type {
    left: 4vw;
    animation-delay: 1s;
}
@keyframes waving {
    0%, 50%, 100% {
        height: 1vh;
        transform: translateY(0);
        background-color: #1f3241;
        box-shadow: 0 0 .3vw rgba(0, 0, 0, 0.1);
    }
    25% {
        height: 5vh;
        transform: translateY(1vw);
        border-radius: 2vw;
        background-color: #1ea2d8;
        box-shadow: 0 .8vw .4vw rgba(0, 0, 0, 0.05); 
    }
}